*{
    font-family: 'Righteous', cursive;
    margin: 0%;
}
body{
    background: url(bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.hadding{
    color: #fff;
    margin: 2%;
    
}

.text-box{
  margin-top: 15%;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 26px;
  margin-left: 25%;
}

.text-box h1{
  font-size: 75px;
  line-height: 160px;
  color: #fff;
}

.text-box span{
  font-size: 75px;
  line-height: 160px;
  color: #13ffff;
}




.aboutMe{
  font-family: 'Teko', sans-serif;
    position: absolute;
    top: 40%;
    left: 40%;
    color: rgb(255, 226, 226);
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 3rem;
  }
@media screen and (max-width: 995px), 
       screen and (max-height: 700px){
  .text-box{
    position: absolute;
    top: 6%;
    left: 10%;
    justify-content: center;
    align-items: center;
    display: grid;
    line-height: 10rem;
    font-size: 8rem;
  }
  @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Teko:wght@300&display=swap');
.aboutMe{
font-family: 'Teko', sans-serif;
  position: absolute;
  top: 15%;
  left: 30%;
  color: rgb(255, 226, 226);
  letter-spacing: 1px;
  line-height: 26px;
  margin-left: 5%; 
  font-size: 3rem;
}
}
